
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*GENERAL STYLING*/

html, body {
    background-color: #2B1C65;
    font-family: 'Lato', sans-serif;
    height:auto;
    color:white;
}

::-webkit-scrollbar {
    display: none;
}

.albump-purple{
    background-color: #2B1C65;
}
.albumpGray{
    background-color: #34464F;
}

.center {
    text-align: center;
    margin: 0 auto;
}
.left{
    text-align: left;
}

.widen {
    height: 90vh;
}

.squish{
    max-width: 30%;
    margin: 0 auto;
}
/*GENERAL STYLING*/

/*Dashboard styling*/

/*InfoBar*/
.infobar-container{
    top: 0;
    height:100px;
    width: 100%;
    background-color:#34464F;
    color: white;
    padding:20px;
    margin-bottom: 30px;
}
.content{
    padding:15px;
}
.party-name{
    font-size: 150%;
    font-weight: bold;
}
.party-id{
    font-size:90%;
}

/*Dashboard*/
.queue-header{
    font-weight: bold;
    font-size: 2.2rem;
}
.scrollable-content {
    background-color: #2B1C65;
    overflow: scroll;
    min-height: 50px;
    max-height: 65vh;
}
/*Search Results*/
.search-container{
    margin-bottom: 50px;
    margin-left:40px;
}

.search-scrollable-content {
    background-color: #2B1C65;
    overflow: scroll;
    min-height: 50px;
    max-height: 200px;
}
.search-card {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 95%;
    height: 40px;
    margin: 10px 10px;
    background-color: #34464F;
    color:white;
    cursor: pointer;
}
.search-card:hover {
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
}
.search-card-container {
    padding: 2px 16px;
    display:grid;
    grid-template-columns: 70px auto auto 70px;
    grid-template-rows: auto;
    align-items: center;
}
.add-button{
    height: 50px;
    text-align: right;
    border: none;
    position:relative;
}
.add-button:hover{
    cursor: pointer;
}
.add-button:focus{
    outline:0;
}
/*Song*/
.current-song-card{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 95%;
    background-color: #2B1C65;
    color:white;
    margin: 70px 200px 20px 0;
}

.card {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 95%;
    margin: 30px 30px;
    background-color: #2B1C65;
    color:white;

}
.card:hover {
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
}
.card-container {
    padding: 2px 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.album-art{
    min-width: 70px;
    width: 70px;
    margin: 0 auto 0 auto;
}
.song-title{
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 0 10px 0 10px;
}

.artist{
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 0 10px 0 10px;
}

.search-song-title{
    margin: 10px 35px 0 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.search-artist{
    margin: 10px 5px 0 10px;
    grid-column-start: 3;
    grid-column-end: 4;
}

.votes-container{
    margin: 0 0 0 auto;
}
.votes{
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 8px;
    background: white;
    /*text-align: center;*/
}
.redText h3{
    color:red;
}
.greenText h3{
    color:forestgreen;
}
.blackText h3 {
    color:black;
}
.vote-button{
    display: inline-block;
    width: 50%;
    height: 30px;
    color:white;
    font-size: 1rem;
    border: none;

}
.vote-button:hover{
    cursor: pointer;
}
.vote-button:focus{
    outline:0;
}
.downvote{
    background-color: hsl(348, 100%, 61%);
}
.upvote{
    background-color: hsl(171, 100%, 41%);
}

/*Styling for long text animation*/
.truncate {
    white-space: nowrap;
    /*width: 250px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

/*End styling for long text animation*/


/*MOBILE CSS*/
@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
/*END MOBILE CSS*/
